:global body {
  font-family: Arial, Helvetica, sans-serif;
}

.demoItem {
  position: relative;
  margin-bottom: 20px;
}

.demoItem img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: auto;
}